@model LoginFormUsingSessionAspCore.Models.Teacher

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>Teacher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="TeacherEmail" class="control-label"></label>
                <input asp-for="TeacherEmail" class="form-control" />
                <span asp-validation-for="TeacherEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherPass" class="control-label"></label>
                <input asp-for="TeacherPass" class="form-control" />
                <span asp-validation-for="TeacherPass" class="text-danger"></span>
            </div>
           
            @* <div class="form-group">
                <label asp-for="Ks2" class="control-label"></label>
                <input asp-for="Ks2" class="form-control" />
                <span asp-validation-for="Ks2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ib" class="control-label"></label>
                <input asp-for="Ib" class="form-control" />
                <span asp-validation-for="Ib" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityId" class="control-label"></label>
                <input asp-for="ActivityId" class="form-control" />
                <span asp-validation-for="ActivityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadTeacherPhoto" class="control-label"></label>
                <input asp-for="UploadTeacherPhoto" class="form-control" />
                <span asp-validation-for="UploadTeacherPhoto" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsArchived" /> @Html.DisplayNameFor(model => model.IsArchived)
                </label>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
